/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    background: #d9c189;

}

.container {
    min-width: 33%;
    min-height: 33%;
    background: #b48641;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.sortable-list {
    background: #fff;
    width: 300px;
    height: 500px;
    border-radius: 6px;
    padding: 30px 25px 20px;
    margin: 3%;
}

.sortable-list .item {
    list-style: none;
    display: flex;
    border-radius: 5px;
    margin-bottom: 11px;
    padding: 10px 13px;
    align-items: center;
    border: 1px solid #ccc;
    justify-content: space-between;
    cursor: grab;
}

.sortable-list .item:active {
    cursor: grabbing;
}

.item.dragging :where(.details, i){
    opacity: 0%;
    cursor: grabbing;
}

.item .details {
    display: flex;
    align-items: center;
}

.item .details img {
    width: 43px;
    height: 43px;
    margin-right: 12px;
    object-fit: cover;
    border-radius: 50%;
}

.item .details span {
    font-size: 1.13rem;
}

.item i {
    color: #474747;
    font-size: 1.13rem;
}

.startBtn {
    font-size: 1.20rem;
    font-weight: bold;
    text-transform: uppercase;
    background: #f2d99e;
    width: 375px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: #a02929;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 15px #a0292996;
    transform: scale(1);
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

.heading {
    font-size: 1.20rem;
    background: #f2d99e;
    width: 375px;
    padding: 10px;
    text-align: center;
    color: #a02929;
    border-radius: 5px;
}

.startBtn:hover, .startBtn:focus, .startBtn:active {
    box-shadow: 0 0 25px #a02929;
    transform: scale(1.1);
}
